/* Index.tsx */
#seiko_image {
  animation: 2s ease-out slideInFromLeft;
}

#text-welcome {
  color: #ee9ca7;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  animation: 1s ease-in OpacityAni;
}

#fondo_index {
  font-family: 'Open Sans', sans-serif;
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#seiko_logo {
  animation: 1.5s ease-out OpacityAni;
}

#button_login {
  animation: 1s ease-in OpacityAni;
}

#form_login {
  animation: 0.6s ease-in OpacityAni;
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  50% {
      transform: translateX(12%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
      transform: translateY(-100%);
  }
  50% {
      transform: translateY(12%);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes OpacityAni {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}

/* Sidebar */

#sidebar {
  font-family: 'Poppins', sans-serif;
  background-color: azure;
  transition: var(--tran-04);
  z-index: 100;
}

#arrow_button {
  background-color: #ee9ca7;
}

.close {
  width: 78px;
  transition: var(--tran-04);
}

.close #text {
  opacity: 0;
}

#section {
  font-family: 'Poppins', sans-serif;
  position: relative;
  left: 256px;
  width: calc(100% - 256px);
  transition: var(--tran-04);
}

#sidebar.close ~ #section {
  left: 78px;
  width: calc(100% - 78px);
}